* {
    margin: 0;
    padding: 0;
  }
  html {
    min-height: 100%;
  }
body{
    background: linear-gradient(#afd8eff2, #afd8ef00);
    max-width: 100%;
    overflow-x: hidden;
  
}

.setvalue{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 40px;
    
    margin-right: 0px;
    margin-left: 15px;
    
    background: #FBFCFE;
    box-shadow: 5px 4px 4px 3px rgba(17, 16, 16, 0.3);
    border-radius: 22px;
    max-height: 50rem;
    width: 450px;
}

.titel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    /* margin-top: 20px; */
    padding-top: 35px;
    font-family: Century751 BT;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 20px;
    color: #195CDD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.sub-titel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 50px;

    font-family: Bahnschrift;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 42px;
    
    color: rgba(114, 115, 115, 0.95);
}

.number{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    font-family: Segoe UI;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;

    margin-top: 20px;

    
}

.otp-input{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 10px;
    /* flexDirection: "column", */
    
}

.otp_item2_p3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 30px;

    
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    /* text-align: center; */
    color:#04396D;

    
}

#button:disabled {
        /* width: 100%;
        height: 50px;
        
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 10px;

        background: #04396D;
        border-radius: 10px; */
        /* outline: none !important;
        border: none;
        background: transparent; */
        margin-top: 20px;
        padding: 0 20px;
        display: block;
        font-family: Baloo Bhai 2;
        font-size: 17px;
        color: #fff;
        line-height: 48px;
        text-transform: uppercase;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #04396D;
        border-radius: 10px;
        width: 350px;
        height: 50px;
        text-align: center;
        color:#FBFCFE;
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
        background: grey;
}

#button:enabled {
    /* width: 100%;
    height: 50px;
    
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 10px;

    background: #04396D;
    border-radius: 10px; */
    /* outline: none !important;
    border: none;
    background: transparent; */
    margin-top: 20px;
    padding: 0 20px;
    display: block;
    font-family: Baloo Bhai 2;
    font-size: 17px;
    color: #fff;
    line-height: 48px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #04396D;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    text-align: center;
    color:#FBFCFE;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    background: blue;
}


.otp_item2_p4 {
    font-family: Segoe UI;
    font-style: normal;
    font-size: 20px;
    
}

a:link {
    text-decoration: none;
    color: #195CDD;
  }

.image img{
    height: 480px;
    width: 400px;
    margin-left: 70px;
    margin-top: 90px;
    
}

.image , 
.setvalue {
    height: 85vh;
    /* width: 70vh; */
    /* margin-left: 85px;
    margin-top: 45px;
   */
}




