* {
    margin: 0;
    padding: 0;
  }
html {
  min-height: 100%;
}
body{
    background: linear-gradient(#afd8eff2, #afd8ef00);
    max-width: 100%;
    overflow-x: hidden;
  
}

.image img{
    /* height: 50%; */
    /* width:70%; */
    /* margin-left: 70px; */
    /* margin-top: 90px; */
}

.image
{
    /* height: 85vh; */
}

.setvalue{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    box-shadow: 5px 4px 4px 3px rgba(17, 16, 16, 0.3);
    border-radius: 22px;
}

.titel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 35px;
    font-family: Century751 BT;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 20px;
    color: #195CDD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.sub-titel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 50px;

    font-family: Bahnschrift;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 42px;
    
    color: rgba(114, 115, 115, 0.95);
}

.entry{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    

    color: #04396D;
}
.input-filed{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
}

#f-input{
    margin-top: 9px;
    height: 10px;
    border-bottom: 1px solid blue;    
}

#l-input{
    margin-top: 9px;
    height: 10px;
    border-bottom: 1px solid blue;
}

#e-input{
    margin-top: 9px;
    height: 10px;
    border-bottom: 1px solid blue;    
}


#d-input{
    margin-top: 9px;
    height: 10px;
}

p{
    width: auto;
    color: red;
    font-size: x-small;
}

.b1{
    margin-top: 20px;
    padding: 0 20px;
    display: block;
    font-family: Baloo Bhai 2;
    font-size: 17px;
    color: #fff;
    line-height: 48px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #04396D;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    text-align: center;
    color:#FBFCFE;
    justify-content: center;
    margin: auto;
    margin-bottom:10px;
    background: blue;
}